.sidebar {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 40px;
	width: 100%;
	min-width: 420px;
	//	flex-grow: 0;

	@media screen and (max-width: $laptop-screen) {
		min-width: 360px;
	}

	@media screen and (max-width: $tablet-screen) {
		min-width: 338px;
		width: 338px;

		& &__adv {
			display: none;
		}
	}

}