.cmp-table {
	border-collapse: collapse;
	border-spacing: 0px;

	&__tr {
		border: 1px solid;
	}

	&__tr:hover &__td {
		background-color: #F2F2F2;
	}

	&__td {
		border-left: 1px solid;
		border-right: 1px solid;
		padding: 10px;
	}

	&__th {
		border-left: 1px solid;
		border-right: 1px solid;
		padding: 10px;
	}
}