.specifications_item {
    display: flex;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: $q-hd-screen) {}

    @media screen and (max-width: $high-hd-screen) {}

    @media screen and (max-width: $full-hd-screen) {}

    @media screen and (max-width: $dell-hd-screen) {}

    @media screen and (max-width: $mac-hd-screen) {}

    @media screen and (max-width: $ready-hd-screen) {}

    @media screen and (max-width: $big-tablet-screen) {}

    @media screen and (max-width: $middle-tablet-screen) {}

    @media screen and (max-width: $small-tablet-screen) {}

    @media screen and (max-width: $big-phone-screen) {}

    @media screen and (max-width: $middle-phone-screen) {}

    @media screen and (max-width: $small-phone-screen) {}
}

.specifications__item::before {
    content: "\2B24";
    width: 10px;
    border-radius: 50%;
    color: $color__darkgray;
    align-items: center;
    margin-right: 10px;
    flex-shrink: 0;
}