.header__icon-counter {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: $color__white;
    padding: 3px 5px;
    min-width: 20px;
    border-radius: 50%;
    background-color: $color__carrot;
    user-select: none;

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
        background-color: $color__darkcarrot;
    }

    @media screen and (max-width: $q-hd-screen) {}

    @media screen and (max-width: $high-hd-screen) {}

    @media screen and (max-width: $full-hd-screen) {}

    @media screen and (max-width: $dell-hd-screen) {}

    @media screen and (max-width: $mac-hd-screen) {}

    @media screen and (max-width: $ready-hd-screen) {}

    @media screen and (max-width: $big-tablet-screen) {}

    @media screen and (max-width: $middle-tablet-screen) {}

    @media screen and (max-width: $small-tablet-screen) {}

    @media screen and (max-width: $big-phone-screen) {}

    @media screen and (max-width: $middle-phone-screen) {}

    @media screen and (max-width: $small-phone-screen) {}
}@import "_cart-visible/_header__icon-counter_cart-visible";
